header {
  position: fixed;
  display: flex;
  z-index: 1;
  padding: 2.5rem 3rem;
  gap: 3rem;
}

/* .background-image {
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
} */

body {
  font-family: arial;
  color: blue;
  position: relative;
}

.images-1 {
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Y5MDQtbnVubnktMDI0XzIuanBn.jpg);
}

.images-2 {
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Y5MDQtbnVubnktMDI0XzIuanBn.jpg);
}

.images-3 {
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Y5MDQtbnVubnktMDI0XzIuanBn.jpg);
}

footer {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 100vw;
  background-color: hsl(0, 0%, 100%);
}

.container {
  padding: 1px 1px;
  margin: 5px;
}

.feature {
  position: relative;
  background-size: cover;
  background-position: centre;
  height: 100vh;
}

.posts {
  position: absolute;
  bottom: 200px;
  left: 3rem;
}

nav {
  display: flex;
  gap: 2.3rem;
  align-items: center;
}

nav a {
  font-size: 0.85rem;
}
